<script type="text/javascript" src="js/cantor.js"></script>

<script id="cantor-solicitations-form" type="text/x-handlebars-template">
<div class="app-title">
	<h2>Cantor</h2>
</div>
<div class="leftDiv btn-choice">
	MES SONDAGES ({{nbPendingM}})
</div>
<div class="rightDiv btn-choice">
	MES SOLICITATIONS ({{nbPendingS}})
</div>
<div class="bg-color">
<ul>
{{#each surveys}}
	<li class="survey border-bottom" id='{{rowid}}'>
		<div class="div-li-left">
		{{#if complete}}
		<i class='fa fa-check-circle bg-green fa-3x'></i>
		{{else}}
		<i class='fa fa-exclamation-circle bg-red fa-3x'></i>
		{{/if}}
		</div>
		<div class="div-li-right data-survey">	
			<div>{{title}}</div>
			<div>{{description}}</div>
		</div>
	</li>
{{/each}}
</ul>
</div>

<i class="addButton fa fa-plus-circle fa-3x"></i>



</script>


