<script type="text/javascript" src="js/createSurvey.js"></script>

<script id="create-survey-form" type="text/x-handlebars-template">
	<div class="app-title">
		<h2>Cantor</h2>
	</div>
	<form class="form">
		<fieldset>
			<h2>Création de Sondage</h2>
			<div class="form-item">
				<label for="titre">Titre</label>
				<input type="text" name="title">
			</div>
			<div class="form-item">
				<label for="description">Description</label>
				<input type="textarea" name="description">
			</div>
			
			<div class="form-item">
				<label for="durée">Date</label>
				<input type="text" value="19/06/2015" name="date">
			</div>

			<div class="form-item">
				<label for="durée">Durée</label>
				<input type="text" value="0:00" name="houre">
			</div>
			<ul class="button_list">
			<li><button class="button">+</button><i class="button">Créer</i></li>
			</ul>
		</fieldset>
</script>
