<script type="text/javascript" src="js/cantor.js"></script>

<script id="survey-detail-form" type="text/x-handlebars-template">
	<div class="app-title">
		<h2>Cantor</h2>
	</div>
	<div class="bg-color">
		<div class="survey border-bottom padding-1" id='{{rowid}}'>
				<p>{{title}}</p>
				<p>{{ time duration}}</p><br/>
				<p class="justify">{{description}}</p>
		</div>
	</div>
	<div class="div-btn-register">
		<span class="padding-right"><i class='fa fa-clock-o fa-3x margin-left-1'><p class="icon-text">Chronologique</p></i></span>
		<span class="padding-right"><i class='fa fa-star-o fa-3x'><p class="icon-text">Popularité</p></i></span>
		<span><i class='fa fa-thumbs-o-up fa-3x margin-right-1'><p class="icon-text">Enregistrer</p></i></span>
	</div>
	<div class="bg-color">
	<ul>
	{{#each dates}}
	<li class="survey border-bottom" id='{{rowid}}'>
		<div class="div-li-left">
			<div>
				{{ dateSurveyModified this}}
			</div>
			<div>
				{{ timeSurveyModified this}} {{ timeEndSurvey ../duration}}
			</div>
		</div>
		<div class="div-li-right data-survey-right">
			<span class="choiceSurvey"><i class='fa fa-circle-o fa-3x'></i></span>
		</div>
	</li>
{{/each}}
	</ul>
	</div>
</script>
