/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
*{
	margin:0;
	padding:0;
}
h2{
	margin-top:0;
	background-color:#03A9F4;
	text-align:center;
	height:50px;
	line-height:50px;
	color: #fff;
}

.leftDiv{
	color: #4ea9a0;
    float: left;
    text-align: center;
    width: 50%;
	margin-top:0;
}
.rightDiv{
    color: #c4d7ed;
    text-align: center;
    width: auto;
	margin-top:0;
}
.btn-choice{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #4FC3F7;
	border-style: double;
	border-color: #C5EFF7;
	border-width: 1px;
	color: #fff;
}
.div-li-left{
	vertical-align: middle;
	display: inline-block;
	line-height: normal;
	padding: 15px;
	background-color: #F5F5F5;

}
.div-li-right{
	display:inline-block;
	vertical-align: middle;
	line-height: normal;
	background-color: #F5F5F5;
	width: 60%;
	float: right;
}
.bg-color{
	background-color: #F5F5F5;
}
.data-survey{
	text-align: left;
	padding-top: 10px;
}
li.survey.active{
	background-color:red;
}

.fa.fa-check-circle.fa-3x{
	color: #53DF00;
}

.fa.fa-exclamation-circle.fa-3x{
	color:  #FFB800;
}
.border-bottom{
	border-bottom: 1px solid #000;
}
.padding-1{
	padding: 10px 15px 10px 15px; 
}
.justify{
	text-align: justify;
}
.div-btn-register{
	background-color: #bdc3c7;
	text-align: center;
}
.padding-right{
padding-right: 19%;
}
.margin-1{
	margin-left: 10px;
}
.addButton{
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: #03A9F4;
}
.icon-text{
	font-size: 8px;
}
.margin-left-1{
	margin-left: 10px;
}
.margin-right-1{
	margin-right: 10px;
}
.data-survey-right{
	text-align: right;
	padding-top: 10px; 
}
.choiceSurvey{
	margin-right: 15px;
}
